// Specific CSS for your home-page
.Perks,
.Featurettes,
.Home__cards {
  padding: 80px 0;
}

.Perks {
  background-color: $white;
  text-align: center;

  &__heading {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
  }

  &__text {
    font-size: 16px;
    color: $gray-text;
  }
}

.Home__cards-heading {
  margin-bottom: 48px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.home-icons {
  font-size: 30px;
}

.home-icon-cap {
  height: 35px;

}
