.container {
  margin: 20px 100px;
  justify-content: space-around;
}
.container p {
  font-size: 15px
}

.container h3 {
  color: rgb(110, 111, 111)
}
.row {
  padding: 0 10px;
}


.listing-image {
  height: 500px;
  background-position: center;
}

.listing-details td {
  padding: 5px 20px
}

// Listing price
.listing-price {
  align-items: center;
  background-color: rgb(237, 237, 237);
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}
