.message-row {
  margin-bottom: 30px;
  margin-top: 10px
}
.message-content {
  align-items: center;
  background-color: rgb(237, 237, 237);
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}
.message-box {
  margin-right: 40px
}
.message-content {
  margin-left: 40px
}
