<div class="container-listing">
  <br>
  <h2><strong>Congratulations, your booking has been confirmed!</strong></h2>
  <br>
  <h3><strong>Your trip details</strong></h3><br>

  <h4><strong><%= @booking.boat.title %></strong></h4>
  <%= @booking.boat.address %> <br>
  <%= @booking.boat.description %> <br>
  <div class="booking-image"><br>
    <img src=<%= @booking.boat.photo %> alt="Your Boat photo" width="1000" class="img-responsive">
  </div>

</div>
