<a href="#" class="Card">
  <div class="Card__inner">
    <figure class="Card__img">
      <img src="http://via.placeholder.com/600x360" alt="123" class="img-responsive">
    </figure>
    <div class="Card__body">
      <h3 class="Card__title">Luxury yacht</h3>
      <div class="Card__price">$ 389 / day</div>
      <div class="Card__meta">
        <div class="Card__rating">
          <i class="fas fa-star color-secondary"></i>
          <i class="fas fa-star color-secondary"></i>
          <i class="fas fa-star color-secondary"></i>
          <i class="fas fa-star color-secondary"></i>
          <i class="fas fa-star color-grey-text"></i>
          <span class="Card__rating-text">189 reviews</span>
        </div>
          <i class="fas fa-heart color-grey-text"></i>
      </div>
    </div>
  </div>
</a>