<section
  class="Divider",
  background="linear-gradient(0deg, rgba(#9787FF, 0.78) 0%, rgba(#5555FF, 0.78) 97%), asset-url('<%= background_pic %>')"
>
  <div class="Divider__inner container">
    <div class="Divider__content">
      <h1 class="Divider__heading"><%= heading %></h1>
      <p class="Divider__leading"><%= lheading %></p>
    </div>
  </div>
</section>
