<!-- TODO: Implement date picker funciton -->

<div class="form-group">
  <div class='input-group date' id='datetimepicker1'>
    <input type='text' class="form-control" />
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>

  <script type="text/javascript">
      $(function () {
          $('#datetimepicker1').datetimepicker();
      });
  </script>
</div>
