<section class="Perks">
  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3">
        <i class="fas fa-ship home-icons" alt="Ship placeholder image" width="32" height="32"></i>
        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="32" height="32"> -->
        <h2 class="Perks__heading">BOOK & BOAT</h2>
        <p class="Perks__text">Find and book that special boat available around your area of choice.</p>
      </div><!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-3">
        <i class="fas fa-anchor home-icons" alt="Anchor placeholder image" width="32" height="32"></i>
        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="32" height="32"> -->
        <h2 class="Perks__heading">ANCHOR LIKE A LOCAL</h2>
        <p class="Perks__text">Home is where you park it, so spend the nights anywhere with locals. </p>
      </div><!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-3">
        <%= image_tag "logo-boat-captain-hat.png", class: "home-icon-cap" %>

        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="32" height="32"> -->
        <h2 class="Perks__heading">OH CAPTAIN, MY CAPTAIN</h2>
        <p class="Perks__text"> No captain? No worries. Hosts will provide your boat of choice with one for a small fee.</p>
      </div><!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-3">
        <i class="fas fa-globe-americas home-icons" alt="World placeholder image" width="32" height="32"></i>
        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="32" height="32"> -->
        <h2 class="Perks__heading">SAIL THE WORLD</h2>
        <p class="Perks__text"> Travel into new horizons. The world is your oyster now.</p>
      </div><!-- /.col-lg-3 -->
    </div><!-- /.row -->
  </div>
</section>
