<section class="Perks">
  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="32" height="32">
        <h2 class="Perks__heading">Heading</h2>
        <p class="Perks__text">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
      </div><!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-3">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="32" height="32">
        <h2 class="Perks__heading">Heading</h2>
        <p class="Perks__text">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
      </div><!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-3">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="32" height="32">
        <h2 class="Perks__heading">Heading</h2>
        <p class="Perks__text">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
      </div><!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-3">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="32" height="32">
        <h2 class="Perks__heading">Heading</h2>
        <p class="Perks__text">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
      </div><!-- /.col-lg-3 -->
    </div><!-- /.row -->
  </div>
</section>