<!-- TODO: add @reviews.count -->
<div class="listing-title">
  <h4><strong> 2 Reviews</strong></h4>
</div>

<!-- Placeholder for one review @boat.review -->
<div class="review-box" style="border-bottom: solid 1px rgb(220, 224, 223)">
  <br>
  <!-- TODO: Adding user's photo here -->
  <img src="https://picsum.photos/200/200/?gravity=east" alt="" width="40" class="img-circle">
  <strong>David</strong><br>

  <!-- TODO: to add date of the review -->
  <p>August 8, 2018</p>
  <p>Jody's boat was awesome! The crew took great care of us and made sure my corporate group had a great time. We even saw whales!</p>
</div>

<div class="review-box" style="border-bottom: solid 1px rgb(220, 224, 223)">
  <br>
  <!-- TODO: Adding user's photo here -->
  <img src="https://picsum.photos/200/200/?gravity=east" alt="" width="40" class="img-circle">
  <strong>Ann Smith</strong><br>

  <!-- TODO: to add date of the review -->
  <p>August 8, 2018</p>
  <p>Jody's boat was awesome! The crew took great care of us and made sure my corporate group had a great time. We even saw whales!</p>
</div>
