<%= render 'image' %>

<div class="container container-listing">
  <div class="row row-content">
    <!-- Details box -->
    <div class="listing">
      <div class="listing-title">
        <h3><strong>Floria Sailing Yacht with Captain & Crew!</strong></h3>
        <!-- TODO: Add locaton here: @boat.city -->
        <p>San Francisco, CA</p>
      </div>

      <div class="listing-details">
        <div class="row-content">
          <div class="col-xs-3">
            <p><strong>Highlights</strong></p>
          </div>

          <div class="col-xs-9">
            <!-- TODO: Add boat's description @boat.description -->
            <p>
              Explore the bay in style aboard the Derek M. Baylis, a one-of-a-kind custom Wylie Charters private sailing yacht with your very own captain and crew! They will take you where you want to go.</p>
            <p>
              The Derek M Baylis is used by scientists for shark tagging and marine floor mapping serving as a 21st century work-boat. She's a truly exquisite blend of elegance and function, and has been outfitted with lounging and meeting space for corporate gatherings and stylish cruising. She's hearty, strong, sleek and fast, and will serve you well, whether you need to spend a week offshore conducting research, entertaining corporate clients, or celebrating a birthday by cruising with friends and family.
            </p>
          </div>
        </div>

        <div class="row-content">
          <div class="col-xs-3">
            <p><strong>Boat Rules</strong></p>
          </div>

          <div class="col-xs-9">
            <p>DO come and have a great time! We look forward to serving you and will do our best to make it special.</p>
          </div>
        </div>

        <div class="row-content">
          <div class="col-xs-12">
          </div>
        </div>
      </div>

      <div class="listing-reviews">
        <%= render 'reviews' %>
      </div>
    </div>

    <!-- Price box -->
    <div class="confirmation-box">
      <div class="listing-price">
        <div class="form-group">
          <!-- TODO: Add boat's price @boat.price -->
          <h4>$2595.00</h4>
          <p>plus service fees</p><br>
          <select class="custom-select">
            <option value="1">Per half day</option>
            <option value="2">Per full day</option>
          </select><br><br>
          <select class="custom-select">
            <option value="1">With captain</option>
            <option value="2">Without captain</option>
          </select><br><br>

          <label for="">Party size</label>
          <select class="custom-select">
            <option value="1">Please select one of the options</option>
            <option value="1">1 - 2 passengers</option>
            <option value="2">3 - 5 passengers</option>
            <option value="3">6 - 8 passengers</option>
            <option value="4">9 - 12 passengers</option>
            <option value="4">above 13 passengers</option>
          </select><br><br>

          <%= render 'calendar'%>

          <!-- TODO: Placeholder for price @booking.total_price -->
          <h5><strong>Subtotal: </strong></h5>
          <button class="btn btn-danger form-control">Request to book</button>
          <br><br>
          <p class="text-center" style="color: grey">You won't be charged yet</p>
          <p class="text-center" style="color: grey">-- Or --</p>
          <button class="btn btn-primary form-control">Contact owner</button>
        </div>
      </div>
    </div>

  </div>

  <!-- TODO: Add boat's location/map -->
  <%= render 'map' %>
</div>
