<!-- TODO: Implement date picker funciton -->

<div class="form-group">
  <div class='input-group date' id='datetimepicker1'>
    <input type='text' class="form-control" placeholder="Please select date"/>
    <span class="input-group-addon">
      <span><i class="fas fa-calendar-alt"></i></span>
    </span>
  </div>
</div>
