<section class="boats">
  <div class="container-fluid">
    <h3><%= @boats.count %> Boats</h3>
    <div class="Cards">
      <div class="Cards__grid">
        <% @boats.each do |boat|  %>
          <div class="grid-item">
            <%= render 'shared/card', boat: boat %>
          </div>
        <% end %>
      </div>
      <div class="Map Cards__map">
        <div class="Map__inner">
          <div id="map"
            style="width: 100%;"
            data-markers="<%= @markers.to_json %>">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= javascript_pack_tag "map" %>