<section class="boats">
  <div class="container-fluid">
    <h3>300+ Boats</h3>
    <div class="Cards">
      <div class="Cards__grid">
        <% @boats.each do |boat|  %>
          <div class="grid-item">
            <%= render 'shared/card' %>
          </div>
        <% end %>
      </div>
      <div class="Cards__map">
        <div class="Map__inner">
          <img src="http://via.placeholder.com/432x610" alt="" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>
