<h1> <%= @boat.title %> </h1>

<%= @boat.description %>

<%= cl_image_tag @boat.photo, height: 300, width: 400, crop: :fill %>

<%= link_to "Go back to the article list without saving", articles_path %>
